* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100dvh;

    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}



h1 {
    color: #34355B;

    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

p {
    color: #34355B;

    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.6rem;    
}

main {
    border-radius: .5rem;
    background: #FFF;
    
    box-shadow: 0rem 2.0rem 5.0rem 0rem rgba(0, 0, 0, 0.80);

    width: 43rem;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 2.6rem;
    background: none;
    border: none;
    cursor: pointer;


}

#cookieClosed:hover{
    animation: cookieDown 1s infinite;
    transform-origin: center center;
}

.screen2 p {
    padding: 2.0rem;

    color: #000;
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.openedCard {
    justify-content: center;
    align-items: center;
    gap: 1.0rem;

    background: #E4EDF1;
    box-shadow: .2rem .2rem .2rem 0px rgba(85, 85, 85, 0.50);
    -webkit-animation: scale-up-ver-bottom 2.0s cubic-bezier(0.190, 0.75, 0.165, 1.500) both;
	        animation: scale-up-ver-bottom 2.0s cubic-bezier(0.190, 0.75, 0.165, 1.500) both;   
}

.divBut {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cookieOpened {
    padding: 1.6rem;
    background-color: #FF9500;
    border-radius: .4rem;

    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: background .3s;  
}

#cookieOpened:hover{
    background-color: #d88006; 
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes cookieDown {
    0% {
      transform: translate(0, 2px);
    }   
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

@-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

@keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }